
@using Cardid.Models
@model User

@{
    ViewBag.Title = "Your Account: " + Model.DisplayName;
}

<h1 class="view-title">
    @Model.DisplayName
</h1>

<div>
    <a href=@Url.Action("ChangeInfoInit", "Home") class="btn main-btn">
        <span class="icons">
            &#xe90d;
        </span>
        <span class="tab"></span>
        Change user info (name, email, password)
    </a>
</div>

<div class="module">

    @if (Model.Decks().Count() > 0)
    {
        <div>
            You currently have @Model.Cards().Count cards in @Html.ActionLink(Model.Decks().Count.ToString() + " decks", "Index", "Deck")
        </div>
    }

    @if (Model.Tags().Count() > 0)
    {
        <div>
            You currently have @Html.ActionLink(" " + Model.Tags().Count.ToString() + " tags", "TagView", "Deck", new { userID = Model.UserID }, null)
        </div>
    }

    <div class="spacer"></div>
    <div>
        Study sessions logged: @Model.Sessions().Count
    </div>

    <div class="btn main-btn show-btn">
        <span class="icons">
            &#xe931;
        </span>
        Show
    </div>
    <div class="btn main-btn hide-btn" style="display:none">
        <span class="icons">
            &#xe934;
        </span>
        Hide
    </div>

    <div class="study-list hidden">

        @foreach (Study session in Model.Sessions())
        {
            <div>
                @session.DeckName()
                @session.Percentage() %
                @session.TimeOf
            </div>
        }
    </div>

</div>

<script>


    $(document).ready(function () {

        $('.show-btn').on('click', function () {
            $(this).css('display', 'none');
            $('.hide-btn').css('display', 'inline-block');
            $('.study-list').removeClass('hidden');
        });

        $('.hide-btn').on('click', function () {
            $(this).css('display', 'none');
            $('.show-btn').css('display', 'inline-block');
            $('.study-list').addClass('hidden');
        });

    });


</script>