
@using Cardid.Models
@model User

@{
    ViewBag.Title = "Your Account: " + Model.DisplayName;
}

<div>
    <h1 class="view-title">
        @Model.DisplayName
    </h1>
</div>

<div class="spacer"></div>
<div>
    <a href=@Url.Action("ChangeInfoInit", "Home") class="btn main-btn">
        <span class="icons">
            &#xe90d;
        </span>
        <span class="tab"></span>
        Change info (name, email, password)
    </a>
</div>
<div class="spacer"></div>

<div class="module">

    @if (Model.Decks().Count() > 0)
    {
        <div>
            <span class="icons large-type" style="width:40px">
                &#xe90e;
            </span>
            You currently have @Model.Cards().Count cards in @Html.ActionLink(Model.Decks().Count.ToString() + " decks", "Index", "Deck")
        </div>
        <div class="spacer"></div>
    }

    @if (Model.Tags().Count() > 0)
    {
        <div>
            <span class="icons" style="width:40px">
                &#xe93d;
            </span>
            You currently have @Html.ActionLink(" " + Model.Tags().Count.ToString() + " tags", "TagView", "Deck", new { userID = Model.UserID }, null)
        </div>
        <div class="spacer"></div>
    }

    <div>
        <span class="icons large-type" style="width:40px">
            &#xe915;
        </span>
        Study sessions logged: @Model.Sessions().Count
    </div>

    @if (Model.Sessions().Count > 0)
    {
        <div class="btn main-btn show-btn" style="margin-left:44px">
            <span class="icons">
                &#xe931;
            </span>
            Show
        </div>
    }

    <div class="btn main-btn hide-btn" style="display:none">
        <span class="icons">
            &#xe934;
        </span>
        Hide
    </div>

    <div class="study-list hidden">

        @foreach (Study session in Model.Sessions())
        {
            <div class="study-listing">
                <p class="at-top at-bottom">
                    <span class="study-score">
                        @session.Percentage() 
                        <span class="small-type">
                            %
                        </span>
                    </span>
                    @Html.ActionLink(session.DeckName(), "ListingToDeck", "Deck", new { deckID = session.DeckID }, new { @class = "underline" })
                </p>
                <p class="small-type">
                    @session.TimeOf.ToString("dd MMMM yyyy - hh:mm tt")
                </p>
            </div>
        }
    </div>

</div>

<script>


    $(document).ready(function () {

        $('.show-btn').on('click', function () {
            $(this).css('display', 'none');
            $('.hide-btn').css('display', 'inline-block');
            $('.study-list').removeClass('hidden');
        });

        $('.hide-btn').on('click', function () {
            $(this).css('display', 'none');
            $('.show-btn').css('display', 'inline-block');
            $('.study-list').addClass('hidden');
        });

    });


</script>