
@using Cardid.Models
@model User

@{
    ViewBag.Title = "Your Account: " + Model.DisplayName;

    int visibleSessions = Math.Min(5, Model.Sessions.Count);
}

<div>
    <h1 class="view-title">
        <span class="icons">
            &#xe908;
        </span>
        <span class="half-tab"></span>
        @Model.DisplayName
    </h1>
</div>

<div>
    <a href=@Url.Action("ChangeInfoInit", "Home") class="btn main-btn">
        <span class="icons">
            &#xe90d;
        </span>
        <span class="tab"></span>
        Change info (name, email, password)
    </a>
</div>
<div class="spacer"></div>

<div class="flex flex-center">

    <div class="module">
        <h2 class="view-title">
            Activity:
        </h2>
        <div class="spacer"></div>

        @if (Model.Decks.Count() > 0)
        {
            <div>
                <span class="icons large-type wide-tab">
                    &#xe90e;
                </span>
                You currently have @Model.Cards.Count cards in @Html.ActionLink(Model.Decks.Count.ToString() + " decks", "Index", "Deck", null, new { @class = "underline" })
            </div>
            <div class="spacer"></div>
        }

        @if (Model.Tags.Count() > 0)
        {
            <div>
                <span class="icons large-type wide-tab">
                    &#xe93d;
                </span>
                You have created @Html.ActionLink(" " + Model.Tags.Count.ToString() + " tags", "UserTags", "Home", new { userID = Model.UserID }, new { @class = "underline" })
            </div>
            <div class="spacer"></div>
        }

        <div>
            <span class="icons large-type wide-tab">
                &#xe915;
            </span>
            Study sessions logged: @Model.Sessions.Count
        </div>

        <div class="study-list-top ">

            @if (Model.Sessions.Count > 1)
            {
                <p class="small-type at-bottom">Most recent:</p>
            }

            @for (int i = 0; i < visibleSessions; i++)
            {
                Study session = Model.Sessions[i];

                <div class="study-listing">
                    <p class="narrow-line">
                        <span class="study-score">
                            @session.PercentScore
                            <span class="small-type">
                                %
                            </span>
                        </span>
                        @Html.ActionLink(session.DeckName, "ListingToDeck", "Deck", new { deckID = session.DeckID }, new { @class = "underline" })
                    </p>

                    <p class="small-type at-top">
                        @session.TimeOf.ToString("dd MMMM yyyy - hh:mm tt")
                    </p>
                </div>
            }
        </div>
        <div class="study-list-full hidden">

            <div class="spacer"></div>

            @foreach (Study session in Model.Sessions)
            {
                <div class="study-listing">
                    <p class="narrow-line">
                        <span class="study-score">
                            @session.PercentScore
                            <span class="small-type">
                                %
                            </span>
                        </span>
                        @Html.ActionLink(session.DeckName, "ListingToDeck", "Deck", new { deckID = session.DeckID }, new { @class = "underline" })
                    </p>

                    <p class="small-type at-top">
                        @session.TimeOf.ToString("dd MMMM yyyy - hh:mm tt")
                    </p>
                </div>
            }
        </div>

        @if (Model.Sessions.Count > 5)
        {
            <div class="btn main-btn float-right" id="show-sessions">
                <span class="icons">
                    &#xe931;
                </span>
                Show all
            </div>
        }

        <div class="hidden main-btn float-right" id="hide-sessions">
            <span class="icons">
                &#xe934;
            </span>
            Show less
        </div>

    </div>

</div>


<script type="text/javascript" src="../../Content/miscScript.js"></script>
