
@using Cardid.Models
@model Stats
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["userid"] != null)
{
    <h2 class="view-title">Most Active Users</h2>

    foreach (KeyValuePair<string, int> kvp in Model.ActiveUsers)
    {
        <p>@kvp.Key / @kvp.Value</p>
    }


    <h2 class="view-title">Most Active Decks</h2>

    foreach (KeyValuePair<string, int> kvp in Model.ActiveDecks)
    {
        <p>@kvp.Key / @kvp.Value</p>
    }


    <h2 class="view-title">Most Popular Tags</h2>

    foreach (KeyValuePair<string, int> kvp in Model.PopularTags)
    {
        <p>@kvp.Key / @kvp.Value</p>
    }

}