
@using Cardid.Models
@model Stats
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex flex-baseline">

    @if (Session["userid"] != null)
    {
        <div class="home-column">
            <h2 class="view-title">Most Active Users</h2>
            @foreach (KeyValuePair<string, int> kvp in Model.ActiveUsers)
            {
                <p>
                    <span class="left-span">
                        @kvp.Key
                    </span>
                    <span class="right-span">
                        @kvp.Value
                    </span>
                </p>
            }
        </div>


        <div class="home-column">
            <h2 class="view-title">Most Active Decks</h2>
            @foreach (KeyValuePair<Deck, int> kvp in Model.ActiveDecks)
            {
                Deck deck = kvp.Key;
                <p>
                    <span class="left-span">
                        @Html.ActionLink(deck.DeckName, "CardsInDeck", "Deck", new { deckID = deck.DeckID }, null)
                    </span>
                    <span class="right-span">
                        @kvp.Value
                    </span>
                </p>
            }
        </div>



        <div class="home-column">
            <h2 class="view-title">Most Popular Tags</h2>
            @foreach (KeyValuePair<Tag, int> kvp in Model.PopularTags)
            {
                <p>@kvp.Key.TagName / @kvp.Value</p>
            }
        </div>



    }
</div>