
@using Cardid.Models
@model Stats
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex flex-baseline">

    @if (Session["userid"] != null)
    {
        <div class="home-column">
            <h2 class="view-title">Most Active Users</h2>
            @foreach (KeyValuePair<string, int> kvp in Model.ActiveUsers)
            {
                <p>@kvp.Key / @kvp.Value</p>
            }
        </div>


        <div class="home-column">
            <h2 class="view-title">Most Active Decks</h2>
            @foreach (KeyValuePair<Deck, int> kvp in Model.ActiveDecks)
            {
                <p>
                    @Html.ActionLink(kvp.Key.DeckName + " / " + kvp.Value, "CardsInDeck", "Deck", new { deckID = kvp.Key.DeckID }, null)
                </p>
            }
        </div>



        <div class="home-column">
            <h2 class="view-title">Most Popular Tags</h2>
            @foreach (KeyValuePair<Tag, int> kvp in Model.PopularTags)
            {
                <p>@kvp.Key.TagName / @kvp.Value</p>
            }
        </div>



    }
</div>