
@using Cardid.Models
@model Stats
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int listLength = 0;
}


@if (TempData["new-user"] != null)
{
    <div class="home-header">
        <div>
            <h3 class="bold">Welcome, @TempData["new-user"].ToString()!</h3>
            <p>Here's how you can get started:</p>
            <p>
                @Html.ActionLink(HttpUtility.HtmlDecode("&#9679;") + "  Create a new deck", "CreateDeckInit", "Deck", null, new { @class = "link-inline-dark" })
            </p>
            <p>
                @Html.ActionLink(HttpUtility.HtmlDecode("&#9679;") + "  View and study decks that other users have shared", "Index", "Deck", null, new { @class = "link-inline-dark" })
            </p>
        </div>
    </div>
}
else if (TempData["user-login"] != null)
{
    User user = TempData["user-login"] as User;

    <div class="home-header">
        <div>
            <h3 class="bold">Welcome back, @user.DisplayName!</h3>
            <p>
                You currently have
                <strong> @user.Cards().Count </strong>cards, and
                <strong> @user.Decks().Count </strong>decks.
            </p>
            @if (user.Sessions().Count > 0)
            {
                <p>
                    You've logged
                    <strong> @user.Sessions().Count </strong>study sessions.
                    @Html.ActionLink(" Click here to study some more!", "Index", "Deck", null, new { @class = "bold link-inline-dark" })
                </p>
            }
            else
            {
                <p>
                    No study sessions yet:
                    @Html.ActionLink(" Click here to get started!", "Index", "Deck", null, new { @class = "bold link-inline-dark" })
                </p>
            }
        </div>
    </div>
}



<div class="flex flex-baseline">

    @if (Session["userid"] != null)
    {
        <div class="leaderboard">
            <h2 class="view-title">Most Active Users</h2>
            <p class="small-type at-top">
                by study sessions logged:
            </p>
            <div class="leaderboard-list">
                @{
                    listLength = Math.Min(10, Model.ActiveUsers.Count);
                    for (int i = 0; i < listLength; i++)
                    {
                        string name = Model.ActiveUsersOrder[i];

                        <p class="leaderboard-listing">
                            <span class="listing-left">
                                @name
                            </span>
                            <span class="listing-right">
                                @Model.ActiveUsers[name]
                            </span>
                        </p>
                    }
                }
            </div>
        </div>


        <div class="leaderboard">
            <h2 class="view-title">Most Popular Decks</h2>
            <p class="small-type at-top">
                by number of times studied:
            </p>
            <div class="leaderboard-list">
                @{
                    listLength = Math.Min(10, Model.ActiveDecks.Count);
                    for (int i = 0; i < listLength; i++)
                    {
                        Deck deck = Model.ActiveDecksOrder[i];
                        <p class="leaderboard-listing">
                            <span class="listing-left">
                                @Html.ActionLink(deck.DeckName, "ViewDeck", "Deck", new { deckID = deck.DeckID }, new { @class = "link-inline" })
                            </span>
                            <span class="listing-right">
                                @Model.ActiveDecks[deck]
                            </span>
                        </p>
                    }
                }
            </div>
        </div>


        <div class="leaderboard">
            <h2 class="view-title">Most Popular Tags</h2>
            <p class="small-type at-top">
                by number of decks:
            </p>
            <div class="leaderboard-list">
                @{
                    listLength = Math.Min(10, Model.PopularTags.Count);

                    for (int i = 0; i < listLength; i++)
                    {
                        Tag tag = Model.PopularTagsOrder[i];
                        <p class="leaderboard-listing">
                            <span class="listing-left">
                                @Html.ActionLink(tag.TagName, "SearchDeckTags", "Deck", new { searchString = tag.TagName }, new { @class = "link-inline" })
                            </span>
                            <span class="listing-right">
                                @Model.PopularTags[tag]
                            </span>
                        </p>
                    }
                }
            </div>
        </div>


        <div class="tag-leaderboard">
            <h2 class="view-title">Most Popular Tags</h2>
            <p class="small-type at-top">
                by number of decks:
            </p>
            <div class="leaderboard-list">
                @{
                    listLength = Math.Min(10, Model.PopularTags.Count);

                    for (int i = 0; i < listLength; i++)
                    {
                        Tag tag = Model.PopularTagsOrder[i];
                        <p class="leaderboard-listing">
                            <span class="tag-listing-left">
                                @Html.ActionLink(tag.TagName, "SearchDeckTags", "Deck", new { searchString = tag.TagName }, new { @class = "link-inline" })
                            </span>
                            <span class="tag-listing-right">
                                @Model.PopularTags[tag]
                            </span>
                        </p>
                    }
                }
            </div>
        </div>

    }
</div>