@using Cardid.Models
@model User
@{
    ViewBag.Title = "Login";
}

<h1 class="view-title">Login</h1>

<div>

    <div class="module">
        @using (Html.BeginForm("CompleteLogin", "Home", FormMethod.Post))
        {
            @Html.ValidationMessage("invalid-credentials")
            if (ViewBag.RegisterInstead == true)
            {
                @Html.ActionLink(" Sign up here", "BeginRegister", "Home", new { @class = "bold" });
            }

            <div class="validation-group">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { autofocus = "autofocus" })
            </div>

            <div class="validation-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>

            <button type="submit" class="btn main-btn float-right">Login<span class="icons"> &nbsp;&#xe933;</span></button>
        }
    </div>

</div>