@using Cardid.Models
@model Deck
@{
    ViewBag.Title = "Choose Cards For Deck";
}

<h1 class="view-title">Add Cards to Deck: @Model.DeckName</h1>
<div class="flex flex-left">
    @if (Model.AvailableCards().Count == 0)
    {
        <p>No cards currently available.</p>
        @Html.ActionLink("Create a new card", "CreateCardInit", "Card", null, new { @class = "btn main-btn" })
    }
    else
    {
        foreach (Card thisCard in Model.AvailableCards())
        {
            <div class="card-indeck">

                <div class="card-listing">@thisCard.Front</div>

                <div class="card-listing">@thisCard.Back</div>

                @Html.ActionLink("Add to deck", "ChooseDecksSubmit", "Deck", new { cardID = thisCard.CardID, deckID = Model.DeckID }, new { @class = "btn card-button" })

            </div>
        }

    }

</div>