
@using Cardid.Models
@model Card
@{
    ViewBag.Title = "Edit Card";
}


<h1 class="view-title">Edit card</h1>

<div class="flex flex-baseline">


    <div class="card-bothsides">

        @using (Html.BeginForm("EditCardSubmit", "Card", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CardID)
            @Html.HiddenFor(m => m.CurrentDeckID)
            @Html.HiddenFor(m => m.CurrentSearchString)
            <div class="edit-field">
                @Html.LabelFor(m => m.Front, "Front of Card:", new { @class = "editcard-label" })
                @Html.TextAreaFor(m => m.Front, new { @class = "submit-change" })
            </div>
            <div class="edit-field">
                @Html.LabelFor(m => m.Back, "Back of Card:", new { @class = "editcard-label" })
                @Html.TextAreaFor(m => m.Back, new { @class = "submit-change" })
            </div>

            <div>
                <button type="submit" class="btn main-btn">
                    <span class="icons">
                        &#xe902;
                    </span>
                    <span class="half-tab"></span>
                    Save changes
                </button>
            </div>

            <div>
                <button type="reset" class="btn main-btn">
                    <span class="icons">
                        &#xe984;
                    </span>
                    <span class="half-tab"></span>
                    Reset
                </button>
            </div>

            if (Model.CurrentDeckID != null)
            {

                <a href="@Url.Action("EditDeck", "Deck", new { deckID = Model.CurrentDeckID, newBackground = false })" class="btn main-btn">
                    <span class="icons">
                        &#xe932;
                    </span>
                    <span class="half-tab"></span>
                    Return to deck
                </a>
            }
            else if (Model.CurrentSearchString != null)
            {
                <a href="@Url.Action("SearchText", "Home", new { searchString = Model.CurrentSearchString })" class="btn main-btn">
                    <span class="icons">
                        &#xe932;
                    </span>
                    <span class="half-tab"></span>
                    Back to search results
                </a>
            }

        }


        <a href="@Url.Action("RemoveCard", "Card", new { cardID = Model.CardID, deckID = Model.GetDeck().DeckID })" class="btn delete-btn">
            <span class="icons">
                &#xe914;
            </span>
            <span class="half-tab"></span>
            Delete this card
        </a>

    </div>


</div>


<script type="text/javascript" src="../../Content/miscScript.js"></script>



