
@using Cardid.Models
@model Card
@{
    ViewBag.Title = "EditCard";
    string formAction = ViewBag.FormAction;
}


<h1 class="view-title">Edit card</h1>

<div class="flex flex-baseline">


    <div class="card-bothsides">

        @using (Html.BeginForm(formAction, "Card", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CardID)
            <div class="edit-field">
                @Html.LabelFor(m => m.Front, "Front of Card:")
                @Html.TextAreaFor(m => m.Front, new { @class = "submit-change" })
            </div>
            <div class="edit-field">
                @Html.LabelFor(m => m.Back, "Back of Card:")
                @Html.TextAreaFor(m => m.Back, new { @class = "submit-change" })
            </div>
        }

        @if (Session["currentdeck"] != null)
        {
            Deck currentDeck = Session["currentDeck"] as Deck;

            <a href="@Url.Action("EditDeck", "Deck", new { deckID = currentDeck.DeckID })" class="btn main-btn">
                <span class="icons">
                    &#xe922;&nbsp;
                </span>
                Return to deck
            </a>
        }
        else
        {
            <a href="@Url.Action("Index", "Card")" class="btn main-btn">
                <span class="icons">
                    &#xe922;
                </span>
                Return to cards
            </a>
        }

        <p class="small-type at-top">All changes saved automatically</p>

        <a href="@Url.Action("DeleteCard", "Card", new { cardID = Model.CardID })" class="btn delete-btn">
            <span class="icons">
                &#xe914;
            </span>
            <span class="tab"></span>
            Delete this card
        </a>

    </div>


</div>


<script type="text/javascript" src="../../Content/editCard.js"></script>



