@using Cardid.Models
@model List<Card>
@{
    ViewBag.Title = "MainCardView";
    int decks = ViewBag.DecksCount;
}

@if (TempData["loginname"] != null)
{
    <div>Thank you for logging in, @TempData["loginname"]</div>
}


<h2>All Your Cards</h2>

@Html.ActionLink("Create a new card", "CreateCardInit", "Card", null, new { @class = "btn main-btn" })

@if (Model.Count == 0)
{
    <p>You currently have no cards.</p>
}
else
{
    <div class="card-container">
        @foreach (Card thisCard in Model)
        {
            <div class="card-bothsides">

                <div class="front-field">@thisCard.Front</div>
                <div class="back-field">@thisCard.Back</div>

                <div>
                    @for (int i = 0; i < thisCard.Decks.Count; i++)
                    {
                        Deck deck = thisCard.Decks[i];
                        @Html.ActionLink(deck.Name, "EditDeck", "Deck", new { deckId = deck.DeckID }, new { @class = "cardview-deck" })
                    }
                </div>

                <div class="card-options">
                    @if (decks > thisCard.Decks.Count)
                    {
                        @Html.ActionLink("Add to a deck", "ChooseDecksInit", "Deck", new { cardID = thisCard.CardID }, new { @class = "btn card-button" })
                    }
                    @Html.ActionLink("Edit", "EditCardInit", "Card", new { cardID = thisCard.CardID }, new { @class = "btn float-right card-button" })
                </div>
            </div>
        }

    </div>
}