@using Cardid.Models
@model List<Deck>
@{
    ViewBag.Title = "MainDeckView";
    List<Tag> tagsByName = ViewBag.TagsByName;
    List<Tag> tagsByPopularity = ViewBag.TagsByPopularity;
    string userID = ViewBag.UserID;
    bool userDecks = false;
    bool publicDecks = false;

    foreach (Deck deck in Model)
    {
        if (deck.UserID == userID)
        {
            userDecks = true;
        }
        if (deck.UserID != userID && deck.Cards().Count > 0)
        {
            publicDecks = true;
        }
    }
}



@if (ViewBag.SearchName != null)
{
    <h1 class="view-title">
        Search results for "@ViewBag.SearchName":
    </h1>
}

else if (ViewBag.SearchTag != null)
{
    <h2 class="view-title" : inline-block">
        Tag search results for:
        <span class="large-type">
            @ViewBag.SearchTag
        </span>
    </h2>
}

else
{
    <h1 class="view-title">All Decks</h1>
}


<div class="flex flex-baseline">
    <div class="deck-column">
        <div>
            @if (ViewBag.SearchName != null || ViewBag.SearchTag != null)
            {
                <a href="@Url.Action("Index", "Deck")", style="margin-top:0;margin-bottom:1em"class="btn main-btn">
                    <span class="icons">
                        &#xe932;
                    </span>
                    View all available decks
                </a>
            }

            @using (Html.BeginForm("SearchDeckNames", "Deck"))
            {
                <div>
                    <input type="text" name="searchString" class="single-input" placeholder="deck name to search for" />
                </div>

                <div class="btn main-btn submit-btn">
                    <span class="icons">
                        &#xe90f;
                    </span>
                    <span class="tab"></span>
                    Search decks by name
                </div>
            }

            <a href="@Url.Action("CreateDeckInit", "Deck")" , class="btn main-btn">
                <span class="icons">
                    &#xe900;
                </span>
                <span class="tab"></span>
                Create a new deck
            </a>

        </div>

        <div class="option module">
            <p class="bold large-type tagsearch-heading">Search decks by tag</p>

            <div class="tagviews">
                <span class="bold tagview-pop">
                    sort by popularity
                </span>
                <span class="icons pointer large-type toggle-left">
                    &#xe93e;
                </span>
                <span class="icons pointer large-type toggle-right hidden">
                    &#xe93f;
                </span>
                <span class="pointer tagview-alph">
                    sort alphabetically
                </span>
            </div>

            <div class="tag-container">

                <div class="tags-pop">

                    @foreach (Tag tag in tagsByPopularity)
                    {
                        @Html.ActionLink(tag.TagName, "SearchDeckTags", "Deck", new { searchString = tag.TagName }, new { @class = "tag search-tag" });
                    }
                </div>

                <div class="tags-alph hidden">

                    @foreach (Tag tag in tagsByName)
                    {
                        @Html.ActionLink(tag.TagName, "SearchDeckTags", "Deck", new { searchString = tag.TagName }, new { @class = "tag search-tag" });
                    }
                </div>

            </div>
            @using (Html.BeginForm("CreateTag", "Deck"))
            {
                <div>
                    <input type="text" name="tagName" class="single-input" placeholder="new tag name" />
                </div>

                <button type="submit" class="btn main-btn">
                    <span class="icons">
                        &#xe900;
                    </span>
                    <span class="tab"></span>
                    Create a new tag
                </button>
            }

        </div>
    </div>


    <div class="deck-column">

        @if (Model.Count == 0 || (userDecks == false && publicDecks == false))
        {
            if (ViewBag.SearchName != null)
            {
                <div class="module">
                    No decks found matching that name.
                </div>
            }
            else if (ViewBag.SearchTag != null)
            {
                <div class="module">
                    No decks found with that tag.
                </div>
            }
        }


        @if (userDecks)
        {
            <h2 class="view-title deck-heading">
                Your decks
            </h2>
            <span class="tab"></span>
            <span class="bold white small-type">
                <span class="icons">
                    &#xe931;
                </span>
                Click to view cards and edit
            </span>

            foreach (Deck deck in Model)
            {
                if (deck.UserID == userID)
                {
                    <div class="deck-listing">

                        @Html.ActionLink(@deck.DeckName, "EditDeck", "Deck", new { deckID = deck.DeckID }, new { @class = "deckname-listing bold" })

                        <div class="listing-section">
                            <span class="small-type">
                                @deck.Cards().Count cards
                            </span>
                        </div>
                        @if (deck.Cards().Count > 0)
                        {
                            <div class="listing-section">
                                <div class="listing-subsection">
                                    <span>Study:</span>
                                    <span class="tab"></span>
                                </div>
                                <div class="listing-subsection">
                                    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = deck.DeckID, frontFirst = true })" class="btn main-btn">
                                        <span class="icons">
                                            &#xe915;&nbsp;
                                        </span>
                                        Front first
                                    </a>
                                    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = deck.DeckID, frontFirst = false })" class="btn main-btn">
                                        <span class="icons">
                                            &#xe915;&nbsp;
                                        </span>
                                        Back first
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        }


        @if (publicDecks)
        {
            <h2 class="view-title deck-heading">
                Public decks
            </h2>
            <span class="tab"></span>
            <span class="bold white small-type">
                <span class="icons">
                    &#xe931;
                </span>
                Click to view cards
            </span>

            foreach (Deck deck in Model)
            {
                if (deck.UserID != userID)
                {
                    <div class="deck-listing">

                        @Html.ActionLink(@deck.DeckName, "ViewDeck", "Deck", new { deckID = deck.DeckID }, new { @class = "deckname-listing bold" })

                        <div class="listing-section">
                            <p class="small-type narrow-line">
                                @deck.Cards().Count cards
                            </p>
                            <p class="narrow-line">
                                <span class="small-type">Shared by</span>
                                <span class="bold">
                                    @deck.Creator().DisplayName
                                </span>
                            </p>
                        </div>

                        @if (deck.Cards().Count > 0)
                        {
                            <div class="listing-section">
                                <div class="listing-subsection">
                                    <span>Study:</span>
                                    <span class="tab"></span>
                                </div>
                                <div class="listing-subsection">
                                    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = deck.DeckID, frontFirst = true })" class="btn main-btn">
                                        <span class="icons">
                                            &#xe915;&nbsp;
                                        </span>
                                        Front first
                                    </a>
                                    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = deck.DeckID, frontFirst = false })" class="btn main-btn">
                                        <span class="icons">
                                            &#xe915;&nbsp;
                                        </span>
                                        Back first
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        }

    </div>
</div>


<script type="text/javascript" src="../../Content/deckTags.js"></script>

<script>

    $(document).ready(function () {
        $('.deck-listing').on('click', function () {
            $(this).find('.deckname-listing')[0].click();
        });

        $('.submit-btn').on('click', function () {
            $(this).closest('form').submit();
        });
    });


</script>