
@using Cardid.Models
@model Study
@{
    ViewBag.Title = "SessionComplete";
}
<h1 class="view-title">Results</h1>
<div class="results-frame">
    <div class="final-score">
        <p>
            You got @Model.TotalScore out of @Model.PossibleScore correct.
        </p>
    </div>
    @if (Model.ToRedo == null)
    {
        <div>
            <span class="icons">
                &#xe913;
            </span>
            Congratulations!
        </div>
    }
    else
    {
        <div>
            <a href="@Url.Action("StudyRedo", "Deck", new { redo = Model.ToRedo, deckID = Model.DeckID, frontFirst = Model.FrontFirst })" class="btn main-btn">
                <span class="icons">
                    &#xe906;
                </span>
                <span class="tab"></span>
                Review your incorrect answers
            </a>
        </div>
    }

    <div>
        Study the whole deck again:
    </div>
    <div>
        <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = true })" class="btn main-btn">
            <span class="icons">
                &#xe915;&nbsp;
            </span>
            Front first
        </a>
        <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = false })" class="btn main-btn">
            <span class="icons">
                &#xe915;&nbsp;
            </span>
            Back first
        </a>
    </div>

    <div>
        <a href="@Url.Action("Index", "Deck")" class="btn main-btn">
            <span class="icons">
                &#xe932;&nbsp;
            </span>
            Find another deck
        </a>
    </div>
</div>