
@using Cardid.Models
@model Study
@{
    ViewBag.Title = "Study Session";
}




<h1 class="view-title">Study Session: @Model.DeckName()</h1>


<div class="study-frame">

    <div>
        <div class="flip studynav">Flip card</div>
        <div class="mark-frame hidden">
            <div class="mark-wrong studynav">Mark wrong</div>
            <div class="mark-right studynav">Mark right</div>
        </div>
    </div>

    <div class="card-frame">
        @{
            foreach (Card currentCard in Model.Cards)
            {
                <div class="studycard new-card">
                    <div hidden class="card-ID">
                        @currentCard.CardID
                    </div>
                    @if (Model.FrontFirst == true)
                    {
                        <div class="front-view">
                            <p>@currentCard.Front</p>
                        </div>
                        <div class="back-view hidden">
                            <p>@currentCard.Back</p>
                        </div>
                    }
                    else
                    {
                        <div class="front-view hidden">
                            <p>@currentCard.Front</p>
                        </div>
                        <div class="back-view">
                            <p>@currentCard.Back</p>
                        </div>
                    }
                </div>
            }
        }
    </div>

    <div class="score">
        <div class="total-correct"></div>
        <span>of</span>
        <div class="total-viewed"></div>
        <span>correct-</span>
    </div>

</div>

<div hidden id="cardsToRedo"></div>
@using (Html.BeginForm("StudyLog", "Deck", FormMethod.Post, new { @id = "complete" }))
{
    @Html.HiddenFor(m => m.DeckID, Model.DeckID)
    @Html.HiddenFor(m => m.UserID, Model.UserID)
    @Html.HiddenFor(m => m.FrontFirst, Model.FrontFirst)
    @Html.HiddenFor(m => m.WholeDeck, Model.WholeDeck)
    @Html.HiddenFor(m => m.TotalScore, new { id = "totalScore" })
    @Html.HiddenFor(m => m.PossibleScore, new { id = "possibleScore" })
    @Html.HiddenFor(m => m.ToRedo, new { id = "toRedo" })
}

<div hidden id="cardCount" data-name="@Model.Cards.Count"></div>



<script type="text/javascript" src="../../Content/studySession.js"></script>