
@using Cardid.Models
@model Study
@{
    ViewBag.Title = "Study Session" + Model.DeckName;
}


<h1 class="view-title">
    <span class="icons">
        &#xe915;
    </span>
    <span class="half-tab"></span>
    @Model.DeckName
</h1>

<p class="total-remaining near-top">
    <span class="study-number"></span>
    cards to go
</p>


<div class="study-frame">

    <div>

        <div class="flip-card studynav icons bold">
            &#xea2e;
        </div>

        <div class="mark-frame hidden">

            <div class="mark-wrong studynav icons">
                &#xe91b;
            </div>

            <div class="mark-right studynav icons bold">
                &#xe91c;
            </div>

        </div>

    </div>

    <div class="card-frame">
        @{
            foreach (Card currentCard in Model.Cards)
            {
                <div class="study-card new-card">
                    <div hidden class="card-ID">
                        @currentCard.CardID
                    </div>
                    @if (Model.FrontFirst == true)
                    {
                        <p class="front-text">
                            @currentCard.Front
                        </p>
                        <p class="back-text hidden">
                            @currentCard.Back
                        </p>
                    }
                    else
                    {
                        <p class="front-text hidden">
                            @currentCard.Front
                        </p>
                        <p class="back-text">
                            @currentCard.Back
                        </p>
                    }
                </div>
            }
        }
    </div>

    <div class="score-pane">
        <div>
            <span class="total-correct study-number"></span>
            <span>
                of
            </span>
            <span class="total-viewed study-number"></span>
            <span>
                correct
            </span>
        </div>
    </div>

</div>

<div hidden id="cardsToRedo"></div>
@using (Html.BeginForm("StudyLog", "Deck", FormMethod.Post, new { @id = "complete" }))
{
    @Html.HiddenFor(m => m.DeckID, Model.DeckID)
    @Html.HiddenFor(m => m.UserID, Model.UserID)
    @Html.HiddenFor(m => m.FrontFirst, Model.FrontFirst)
    @Html.HiddenFor(m => m.WholeDeck, Model.WholeDeck)
    @Html.HiddenFor(m => m.TotalScore, new { id = "totalScore" })
    @Html.HiddenFor(m => m.PossibleScore, new { id = "possibleScore" })
    @Html.HiddenFor(m => m.ToRedo, new { id = "toRedo" })
}

<div hidden id="cardCount" data-name="@Model.Cards.Count"></div>


<script type="text/javascript" src="../../Content/studySession.js"></script>