@using Cardid.Models
@model Deck
@{
    ViewBag.Title = "ViewDeck";
}


<h2 class="view-title">
    View Cards in Deck:
    <span class="tab"></span>
    <span class="large-type">
        @Model.DeckName
    </span>
</h2>

<p>This deck was shared by <strong>@Model.Creator().DisplayName</strong></p>

<div class="flex flex-center">

    <div class="module">

        <div class="bold">
            Study this deck:
        </div>
        <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = true })" class="btn main-btn">
            <span class="icons">
                &#xe915;&nbsp;
            </span>
            Front first
        </a>
        <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = false })" class="btn main-btn">
            <span class="icons">
                &#xe915;&nbsp;
            </span>
            Back first
        </a>
    </div>

</div>

<div class="flex flex-center">
    @foreach (Card thisCard in Model.Cards())
    {
        <div class="card-bothsides">
            <div class="card-field">@thisCard.Front</div>
            <div class="card-field">@thisCard.Back</div>
            <a href="@Url.Action("ChooseOtherDeck", "Card", new { cardID = thisCard.CardID })" class="btn main-btn">
                <span class="icons">
                    &#xe90e;
                </span>
                <span class="tab"></span>
                Add to a different deck
            </a>
        </div>
    }
</div>


