@using Cardid.Models
@model Deck
@{
    ViewBag.Title = "ViewDeck";
}


<h1 class="view-title">

    <span class="icons">
        &#xe90e;
    </span>
    <span class="half-tab"></span>
    @Model.DeckName
</h1>


<div>

    <p class="at-top white" style="margin-left:4.25em;">Shared by <strong>@Model.Creator.DisplayName</strong></p>
    <div class="large-type bold">
        Study this deck:
    </div>
    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = true })" class="btn main-btn">
        <span class="icons">
            &#xe915;&nbsp;
        </span>
        Front first
    </a>
    <a href="@Url.Action("StudyBegin", "Deck", new { deckID = Model.DeckID, frontFirst = false })" class="btn main-btn">
        <span class="icons">
            &#xe915;&nbsp;
        </span>
        Back first
    </a>

</div>
<div class="spacer"></div>

<div class="flex flex-center flex-space">
    @foreach (Card thisCard in Model.Cards)
    {
        <div class="card-bothsides">
            <div class="card-field">@thisCard.Front</div>
            <div class="card-field">@thisCard.Back</div>
        </div>
    }
</div>


