
@{
    if (Session["username"] != null)
    {
        ViewBag.UserName = Session["username"].ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Flashcards</title>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Gugi" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="pageview">
        <div class="page-header">

            @Html.Partial("_Messages")

            <div class="page-title">
                <h1 class="header-title">Cardid.</h1>
                <p>Candid flashcards.</p>
            </div>
            <div class="top-menu">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "header-option" })
                @Html.ActionLink("Decks", "Index", "Deck", null, new { @class = "header-option" })
                @Html.ActionLink("Cards", "Index", "Card", null, new { @class = "header-option" })
                @if (Session["userid"] == null)
        {
            @Html.ActionLink("Login", "Login", "Home", null, new { @class = "header-option" })
            @Html.ActionLink("Register", "BeginRegister", "Home", null, new { @class = "header-option" })
}
else
{
        @Html.ActionLink("Account", "Account", "Home", null, new { @class = "header-option" })
        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "header-option" })
}
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>

        <div class="page-footer">
            <p class="site-info small-type">
                2018 | Michael D Weaver | @Html.ActionLink("About this site", "About", "Home")

            </p>
        </div>
    </div>
</body>
</html>