
@using Cardid.Models



@if (TempData["card-added"] != null)
{
    Card card = TempData["card-added"] as Card;
    <div class="view-msg">Card for @card.Front successfully added to deck</div>
}

@if (TempData["deckname-changed"] != null)
{
    <div class="view-msg">Deck name has been changed</div>
}

@if (TempData["card-deleted"] != null)
{
    <div class="view-msg">Card has been deleted</div>
}

@if (TempData["tag-added"] != null)
{
    <div class="view-msg">The tag "@TempData["tag-added"].ToString()" has been added to your deck</div>
}

@if (TempData["tag-created"] != null)
{
    <div class="view-msg">The tag "@TempData["tag-created"].ToString()" has been created</div>
}

@if (TempData["tag-deleted"] != null)
{
    <div class="view-msg">Tag has been deleted</div>
}

@if (TempData["tag-exists"] != null)
{
    <div class="view-msg">The tag already exists</div>
}

@if (TempData["login-name"] != null)
{
    <div class="view-msg">Welcome back, @TempData["login-name"].ToString()!</div>
}
else if (TempData["new-user"] != null)
{
    <div class="view-msg">Welcome, @TempData["new-user"]!</div>
}


@if (ViewBag.AddedCard != null)
{
    Card card = ViewBag.AddedCard;
    <div class="view-msg">Card for @card.Front created successfully</div>
}

@if (ViewBag.LoggedOut == true)
{
    <div class="view-msg">You have been logged out</div>
}


<script>

    $(document).ready(function () {

        $('.view-msg').delay(1800).slideUp();

    });

</script>